# Node
node_modules/
dist/
.pnpm-store/

# Python
__pycache__/
*.pyc
*.pyo
.Python

# Bot data (jangan push ke GitHub)
bot/accounts.json
bot/cookie.json
bot/premium.json
bot/premium-cookie.json
bot/groups.json
bot/users.json
bot/file/sent_cache.json
bot/*.zip

# Env
.env
*.env

# Replit
.replit.new
*.edit.toml
